﻿<!doctype html>
<html>
  <head>
    <title>Meus Feeds</title>
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<style type="text/css">
	/* Let's get this party started */
	::-webkit-scrollbar {
		width: 5px;
	}
	 
	/* Track */
	::-webkit-scrollbar-track {
		background:#ddd;
	}
	 
	/* Handle */
	::-webkit-scrollbar-thumb {
		background: #ccc; 
	}
	::-webkit-scrollbar-thumb:window-inactive {
		background: #555;
	}
	body{
		margin:0;
		padding:0;
	}
	#feedsRss{
		width:500px;
		opacity:0;
		transition:opacity 0.2s linear;
		-webkit-transition:opacity 0.2s linear;
	}
	.no-border{
		border:none;
	}
	.no-margin {
		margin: 0;
	}

	.no-padding {
		padding: 0px;
	}
	
	.m-r-10{
		margin-right:10px;
	}
	.m-r-5{
		margin-right:5px;
	}
	.no-connection{
		position:fixed;
		width:100%;
		height:100%;
		background:#fff;
		text-align:center;
		padding: 15px;
		display:none;
	}
	.no-connection.show{
		display:block;
	}
	.no-connection > h2{
		margin: 0;
		color: #7B7B7B;
		font-size: 20px;
		position: absolute;
		width: 100%;
		top: 50%;
		margin-top: -15px;
	}
	
	.logo-feed{
		border:1px solid #ddd;
	}
	</style>
  </head>
  <body>
		<div class="no-connection">
			<h2>Problemas na conexão</h2>
		</div>
		<div class="panel panel-info no-margin">
			<div class="panel-heading">
				Adicionar Feed
			</div>
			<div class="panel-heading no-padding">
				
				<div class="form-group no-margin">
					<input type="text" id="input-add-feed" name="url-feed" class="form-control no-margin " placeholder="URL Feed RSS" />
				</div>
			
			</div>
		</div>
		<div class="text-center" id="loading">
			<div class="progress no-margin">
			  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
				<span class="sr-only">100% Complete</span>
			  </div>
			</div>
		</div>
		<div class="panel-group no-margin" id="feedsRss" role="tablist" aria-multiselectable="true">
			{{#feeds}}
			<div class="panel panel-default panel-feed" data-url="{{url}}">
				<div class="panel-heading " role="tab" id="feed-{{id_feed}}" >
					<h4 class="panel-title">
						<a role="button" data-toggle="collapse" data-parent="#feedsRss" href="#feed-list-{{id_feed}}" aria-expanded="true" aria-controls="feed-list-{{id_feed}}">
							<button class="pull-right badge btn-del no-border"><i class="glyphicon glyphicon-trash"></i></span></button>
							<span class="pull-right badge m-r-5">{{last_update.relative}}</span>
							<span class="t badge m-r-5">{{qtd_reg}}</span>
							<span class="">{{titulo}}</span>
						</a>
					</h4>
				</div>
				<div id="feed-list-{{id_feed}}" class="panel-collapse collapse " role="tabpanel" aria-labelledby="feed-{{id_feed}}">
					<ul class="list-group">
					{{#items}}
						<a href="{{link}}" target="_blank" class="list-group-item  {{#link_ver_mais}}list-group-item-warning{{/link_ver_mais}} item">
							<div class="clearfix">
								<small>{{data_postagem}}</small>
							</div>
							<strong>{{{titulo_postagem}}}</strong>
						</a>
					{{/items}}
					</ul>
				</div>
			</div>
			{{/feeds}}
			{{^feeds}}
				<div class="alert alert-danger no-margin">Nenhum feed rss foi encontrado.</div>
			{{/feeds}}
		</div>
		
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="jquery.min.js"></script>
		<script src="bootstrap.min.js"></script>
		<script src="mustache.min.js"></script>
		<script src="moment-with-locales.min.js"></script>
		<script src="underscore-min.js"></script>
		<script src="feed.js"></script>
		<script src="db.js"></script>
		<script src="popup.js"></script>
  </body>
</html>

